body {
	background-color: #fff;
    color: 000;
}

.headerContainer h1 {
    color: #000;
}

.soundThumb {
    color: gray;
}

.navbar {
    background-color: white;
    border-color: white;
}

.footerContainer, .headerContainer, .wrapper {
    background-color: white;
    color: gray;
}
